sudo: false
language: node_js
script:
  - xo
  - ava -v test/basics.js
  - ava -v test/versions-1.8.x.js
  - ava -v test/versions-1.7.x.js
  - ava -v test/versions-1.6.x.js
  - ava -v test/versions-1.5.x.js
node_js:
  - '8'
  - '6'
  - '4'
after_success: npm run coverage
cache:
  timeout: 900
  directories:
  - bin
  - node_modules
addons:
  apt:
    packages:
      - oracle-java8-set-default
